@charset "UTF-8";
.layui-form-label { width: 88px; }
.layui-input-block { margin-left: 103px; }

/** 对话框 **/
.dialog {
    position: relative;
    display: none;
    width: 540px;
    box-sizing: border-box;
    overflow-x: hidden;
}
.dialog .h5 {
    position: relative;
    font-size: 18px;
    color: #222;
    border-bottom: 1px solid #ccc;
}
.dialog .h5 .title { padding: 16px 40px;}
.dialog .h5 .title .rectangle {
    display: inline-block;
    margin-left: -16px;
    margin-right: 10px;
    vertical-align: -5px;
    width: 4px;
    height: 24px;
    background-color: #f01414;
}
.dialog .h5 .close-btn {
    position: absolute;
    top: 2px;
    right: 32px;
    padding: 8px;
    color: #ccc;
    cursor: pointer;
    -webkit-transition: all .2s;
    transition: all .2s;
    z-index: 1;
}
.dialog .h5 .close-btn:hover { color: #b2b2b2; }
.dialog .main-text {
    padding: 24px 40px;
    font-size: 14px;
}
.dialog .main-text .layui-form-label { padding-left: 0; }
.dialog .btn-group {
    padding: 24px 40px;
    text-align: right;
    border-top: 1px solid #ccc;
}
.dialog .layui-form-select dl { max-height: 200px; }
